@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --lg-font: "Kaisei Tokumin", serif; /* large fontlar için text family*/
  --sm-font: "Poppins", sans-serif; /* small fontlar için text family (General Font) */
  --pink: #e5345b; /* Sık kullanıcağımız rengi tanıttık */
  --blanchedalmond: #ffebcd;
  --LavenderBlush: #fff0f5;
  --DarkSeaGreen: rgb(143, 188, 143);
  --DarkSeaGreenOpacity: rgb(143, 188, 143,1);
  --Ivory: #fffff0;
  --clr: rgba(254, 205, 165, 0.4);
 --FloralWhite:#f7f4ee;
 --about:rgb(252, 247, 225);
--seashell:rgba(255,245,238,0.92);

  --kaisei: "Kaisei Tokumin", serif;
  --poppins-sansherif: "Poppins", sans-serif;
  --robotoslab: "Roboto Slab", serif;
  --dancingscript: "Dancing Script", cursive;
  --Playfairdisplay:'Playfair Display', serif;
  --lato: 'Lato', sans-serif;
}



/* Header */
  .recipes{
    background-color: blanchedalmond;
    padding: 9%;
    opacity: .88;
  }
  .recipes h5{
    display: block;
    text-align: center;
    font-family: var(--lato);
    font-size: 55px;
    letter-spacing: .3ch;
  }

  /* check boxes */
  .Check-Boxes{
    font-weight: 600;
    letter-spacing: .3ch;
    padding-left: 15%;
    font-size: 15px;
  }
  /* .form-check{
    
  } */
/* recipie */

.recipe-filters{
    margin: 0;
}
.recipeContainer {
}
.recipe-grid-item{
    gap: 30px 20px; 
    align-items: center;
    display: flex;
    align-content: center;
   
}
  /* Product Images */
  .recipe-featured-image{
   

  }


  a{
    color: #333;
    text-decoration: none;
    background-color: transparent;

  }
  h5{

  }